* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header {
    background-color: aliceblue;
    padding: 16px 0;
    color: rgb(51, 51, 49);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: black;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* heigth: 180px; */
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#notice {
    background-color: antiquewhite;
}

#notice .articles article a {
    background-color: rgb(252, 207, 147);
}

#sports {
    background-color: rgba(3, 184, 3, 0.404);
}

#sports .articles article a {
    background-color: rgba(22, 105, 22, 0.678);
}

#economy {
    background-color: #51bed6;
}

#economy .articles article a {
    background-color: rgba(7, 173, 173, 0.856);
}

#e-sports {
    background-color:rgb(255, 128, 128);
}

#e-sports .articles article a {
    background-color: rgba(189, 94, 94, 0.904);
}